<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="brand" style="font-size:20pt;font-weight: bold;">facebook</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">            	
            	<% if not user_signed_in? %>				
					<%- if controller_name != 'sessions' %>
  						<%= link_to "Ingresar", new_user_session_path, :class => 'btn btn-small'  %>  						
  					<% end -%>	
  					<%- if devise_mapping.registerable? && controller_name != 'registrations' %>	
						<%= link_to "Registrarse", new_user_registration_path, :class => 'btn btn-small'  %>
					<% end -%>									
				<% end %>				
            </p>
           
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	<% if notice %>
			<div class="alert alert-info">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<%= notice %>
			</div>
		<% end %>
		<% if alert %>
			<div class="alert alert-error">
				<button data-dismiss="alert" class="close" type="button">×</button>	
				<%= alert %>
			</div>
		<% end %>    
   	</div>   
	<div class="container">
  		<div class="row-fluid">    
    		<div class="span8">    
    			<center> 
			    <br>
			    <br>
			    <br>      
			    <p style="font-size:20pt; color:grey; line-height: 25pt; font-weight: bold;">	
					<br> Facebook te ayuda a comunicarte y
				    <br> compartir con las personas que forman
				    <br> 	parte de tu vida.
				</p>      
			    <img class="logo" src="/assets/mapa.png">  
			    </center>
			</div>    
    		<div class="span4"><%= yield %></div>      
  		</div>
  </div>
</body>
</html>
