<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

	<div class="topbar">
		<div class="topbar-inner">
			<div class="container-fluid">		   
				<a class="brand">facebook</a>
			    <ul class="nav">
			        <li class="active"><%= link_to 'Inicio', root_path %></li>
			        <li class=""><%= link_to 'Posts', posts_path %></li>        
			    </ul>
			    <p class="navbar-text pull-right">
					<% if user_signed_in? %>
					  Logged in as <strong><%= current_user.email %></strong>.
					  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
					  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
					<% else %>
					  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
					  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
					<% end %>
				</p>
		    </div>		   
		</div>
	</div>

	<div class="container-fluid">
		<div class="content">
			<div class="hero-unit">
				<h1>Bienvenido a Facebook!</h1>
				<p>Conoce nuevos amigos, contacta con los amigos ke ya tienes,
				comparte lo ke kieras, esto y mucho mas solo aki, en tu pagina 
				favorita.</p>
				
			</div>


			<% if notice %>
			  	<p class="alert alert-notice"><%= notice %></p>
			<% end %>
			<% if alert %>
		  		<p class="alert alert-error"><%= alert %></p>
			<% end %>

			<%= yield %>
		</div>
		<div class="sidebar">
			<div class="well">
			<h5>Sidebar</h5>
			<ul>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			</ul>
			<h5>Sidebar</h5>
			<ul>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			</ul>
			<h5>Sidebar</h5>
			<ul>
			<li>
			<a href="#">Link</a>
			</li>
			<li>
			<a href="#">Link</a>
			</li>
			</ul>
			</div>
		</div>
	</div>

</body>
</html>
